.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  margin: auto;
  padding: 40px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-100%);
  animation: slideFromTop 1s forwards;
  text-align: justify;
}

.modal-content img {
  width: 20%;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  margin-right:10px;
  padding:10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes slideFromTop {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 720px) {
  .modal-content {
    width: 100% !important;
  }
}
