

body {
  background: url('../images/grey.jpg') center no-repeat fixed;
  background-size: cover;
  background-blend-mode: color-burn;
  background-color: #aaa;
}

.main {
  padding: 50px 100px;
}

header {
  transform:translateY(-100%);
  animation: slideFromTop 1s 1s forwards;
}

.inner-container {
  display: flex;
  overflow: hidden;
  height: 100vh;
  max-width: 100%;
  box-shadow: 0 8px 32px 0 rgba( 255, 255, 255, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 20px;
  animation: fadeIn 1s 1s forwards;
  opacity: 0;
}

.inner-container:before {
  content: " ";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100vh;  
  opacity: .08; 
  z-index: -1;
  background: url('../images/upou_colored.png') center no-repeat;
  background-size: 80%;
  background-blend-mode: luminosity;
}

.main {
  overflow: hidden;
}

.wrap {
  font-weight: bold !important;
  border-bottom: 2px solid #666;
  border-right: 0.1em solid #fff;
}

.inner-container section:first-child, .inner-container section:nth-child(3) {
  padding: 0 5px;
  margin:auto 0;
  z-index: 1000 !important;
}

.inner-container section:first-child {
  float: left;
  width: 50%;
}


.inner-container section:first-child ul li:first-child {
  padding-left: 10px;
  font-size: 25px;
}

.inner-container section:first-child ul li:nth-child(2) {
  padding-left: 20px;
  font-size: 35px;
}

.inner-container section:first-child ul li:nth-child(3) {
  font-size: 30px;
}

.inner-container section:first-child ul li:nth-child(2) {
  font-size: 30px;
}

.inner-container section:nth-child(3) {
  width:50%;
  padding: 0 50px 0 200px;
}

.inner-container section:nth-child(3) ul {
  margin: 0;
  padding: 0;
  opacity: 0;
  transform: translateX(50%);
  animation: slideFromRight 1s 2s forwards;
}


.inner-container section:nth-child(3) ul li:first-child {
  font-size: 50px;
  line-height: 1;
  pointer-events: none !important;
}

.inner-container section:nth-child(3) ul li {
  padding:10px;
  margin-bottom:10px;
  text-align: center;
}

.inner-container section:nth-child(3) ul li img {
  width: 20%;
  mix-blend-mode: color-burn !important;
}

.inner-container section:nth-child(3) ul li.hobbies a {
  transition: 0.5s;
}

.inner-container section:nth-child(3) ul li.hobbies a:hover {
  cursor: pointer;
  font-size: 30px;
}

.inner-container section:first-child p:first-child {
  transform: translateY(-50%);
  opacity: 0;
  font-size: 25px;
  animation: slideFromTop 1s 2s forwards;
  padding-left:50px;
}

.inner-container section:first-child p:last-child {
  font-size: 13px;
  width:55%;
  margin:10px 50px 0 50px;
  padding:15px;
  text-align: justify;
  opacity: 0;
  transform: translateY(30%);
  animation: slideFromBottom 1s 2s forwards;
}

.glass-morphism {
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 200, 200, 200, 0.5 );
  backdrop-filter: blur( 12.5px );
  -webkit-backdrop-filter: blur( 12.5px );
  border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.main ul {
  display:block;
  margin-left: 20px;
  font-size: 13px;
  z-index: 100 !important;
}

.main ul li {
  list-style: none;
  overflow: hidden;
  padding:0;
}

.inner-container section:first-child ul li {
  transform: translateX(-20%);
  animation: slideFromLeft 1s 2s forwards;
  opacity: 0;
}

.inner-container section:nth-child(2) img {
  position: absolute;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  opacity: 0;
  width: 35%;
  max-width: 100%;
  animation: imgFadeIn 1s 1s forwards;
}

.shadow-effect {
  width: 100%;
  text-align: center;
  z-index: 0;
  pointer-events: none;
  text-transform: uppercase;
  position:absolute;
  color: #FFF;
  opacity: 0.2 !important;
}

.shadow-effect.bottom {
  font-size: 4rem;
  text-shadow: 1px 1px #aaa;
  bottom:0;
  transform: translateY(100%);
  animation: slideFromBottom 1s 1.5s forwards;
}

.shadow-effect.top {
  font-size: 2rem;
  text-shadow: 1px 1px #aaa;
  top:0;
  transform: translateY(-200%);
  animation: slideFromTop 1s 1.5s forwards;
}

/* Sticky Edit-Mode Bottom */
.editMode {
  opacity: 0;
  position: fixed;
  bottom: 0;
  padding: 15px;
  width:100%;
  transform: translateY(10%);
  animation: slideFromBottom 1s forwards;
}

.editMode div {
  width:33%;
  float: left;
  text-align: center;
  padding:5px 0;
}

.editMode ul {
  list-style-type: none;
  padding:0;
  margin:0;
}

.editMode ul li {
  display: inline;
  font-size: 11px !important;
}

.editMode ul li span {
  padding:0 10px;
  border-radius: 50%;
  margin: 3px;
  cursor: pointer;
  border: 1px solid #aaa;
}

.editMode ul li span:hover {
  padding:5px 15px;
}

.editMode p {
  margin-bottom: 5px;
  text-align: center;
}

.changeFontColor span, .changeFontStyle span  {
  background-color: #eee;
  padding: 0 5px !important;
}

.changeFontColor span:hover, .changeFontStyle span:hover {
  padding: 5px 10px !important;
}


.actions {
  list-style-type: none;
  padding:0;
  margin:0;
}
.actions li {
  display: inline-block;
  padding:0;
  margin:0;
}
/* Sticky Edit-Mode Bottom */

.fun-fact {
  background: #eee;
  padding: 10px;
  font-size: 12px;
  border-radius: 5px;
}

/* Hobbies */
#hobbies {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: none;
  padding-top:0;
}

#hobbies-container {
  overflow: hidden;
}

#hobbies ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 150px;
}

#hobbies ul li:first-child {
  display: none;
}

#hobbies ul li {
  width: 30%;
  float: left;
  text-align: center;
  border-radius: 16px;
  padding:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  margin: 0 10px;
  background: rgba( 255, 255, 255, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 255, 255, 255, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border: 1px solid rgba( 200, 200, 200, 0.5 );
  border-radius: 20px;
}

#hobbies ul li img {
  width: 150px;
  margin-bottom: 20px;
}

#hobbies ul li a {
  transition: 0.5s;
}

#hobbies ul li a:hover {
  font-size: 35px;
}

#hobbies-title {
  font-size: 50px;
  line-height: 1;
  padding:0;
  margin:0;
  z-index: -1 !important;
}

/* Hobbies */

/* Footer */
footer {
  height: 100vh;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div {
  width: 100%;
}

footer div ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  opacity: 0;
  font-size: 0;
  transform: translateY(10%);
  animation: fade-top 1s forwards;
  animation-timeline: view();
  animation-range:150px 200px;
}

footer div ul li {
  display: inline-flex;
  text-align: center;
  padding: 0 20px;
}

footer div ul li a {
  transition: 0.5s;
}

footer div ul li a:hover {
  font-size: 20px;
}
/* Footer */

#hidden-modal-contents {
  display: none !important;
}

#top {
  position: fixed;
  z-index: 100000 !important;
  right:0;
  bottom: 0;
  margin: 0 10px 10px 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  opacity: 0;
  transform: translateY(100%);
  animation: fade-top linear 2s forwards;
  animation-timeline: view();
  animation-range: 200px 600px;
}

#info {
  position: fixed;
  z-index: 100000 !important;
  left:0;
  bottom: 0;
  margin: 10px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

code {
  background-color: #FFF;
  padding: 0 5px;
  border-radius: 5px;
  font-weight: bold;
  color: rgba(255, 87, 51, 1);
}


@keyframes slideFromTop {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes imgFadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fade-top {
  to { 
    transform: translateY(0);
    opacity:1; 
    padding-top:0;
    font-size: 15px;
  }
}

/* Tablet View */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .main {
    padding: 10px;
  }

  .inner-container section:nth-child(2) img {
    top:0;
    width: 50% !important;
  }

  .inner-container {
    display: flex !important;
    padding: 5px 10px !important;
  }

  .inner-container section:first-child, .inner-container section:first-child p:first-child, .inner-container section:first-child ul {
    width: 100% !important;
    padding: 5px !important;
  }

  .inner-container section:first-child p:first-child {
    margin-top:70px !important;
    font-size: 23px !important;
  }

  .inner-container section:first-child p:last-child {
    margin: 0 !important;
    width: 75% !important;
  }

  .top, .bottom {
    font-size: 1rem !important;
  }

  .inner-container section:nth-child(3) img {
    width: 50px !important;
  }


  #hobbies-title {
    margin-top: 50px !important;
  }

  #hobbies ul {
    list-style-type: none;
    padding: 0 !important;
  }

  #hobbies ul li:first-child {
    display: none;
  }

  #hobbies ul li {
    width: 30% !important;
    float: left !important;
  }

  #hobbies ul li img {
    width: 100px;
    margin-bottom: 20px;
  }

  #hobbies ul li a {
    transition: 0.5s;
  }

  #hobbies ul li a:hover {
    font-size: 35px;
  }

  #hobbies-title {
    font-size: 50px;
    line-height: 1;
    padding:0;
    margin:0;
  }
}
/* Tablet View */

/* Mobile View */
@media only screen and (max-width: 600px) {

  .main {
    padding: 10px;
  }

  .top, .bottom {
    display:none;
  }

  .inner-container {
    height: auto;
    display: block;
    padding:5px 15px !important;
    margin:0 !important;
  }

  .inner-container section:first-child {
    width: 100% !important;
    float: left;
    max-width: 100%;
    padding:0 !important;
    margin:0 !important;
  }

  .inner-container section:nth-child(3) {
    display: none !important;
  }

  .inner-container section:first-child p:first-child {
    text-align: center;
    font-size: 20px !important;
    padding:10px 0 !important;
    margin-top:300px;
    width: auto;
  }

  .inner-container section:first-child ul li {
    padding: 0 !important;
    font-size: 18px !important;
  }

  .inner-container section:first-child ul {
    padding: 10px !important;
    margin: 0 !important;
    text-align: center !important;
  }

  .inner-container section:first-child p:last-child {
    text-align: center !important;
    margin:0 !important;
    padding:10px !important;
    width: 100% !important;
    max-width: 100% !important;
  }

  .inner-container section:nth-child(2) img {
    top:0;
    width:100% !important;
    z-index: -1 !important;
  }
 
  #hobbies-title, #footer {
    margin-top: 50px !important;
  }

  #hobbies {
    margin-bottom: 100px 0 !important;
    height: auto !important;
    display: block !important;
    overflow-y: none;
    padding: 25px 10px !important;
  }

  #hobbies-title {
    margin-top: 100px;
  }

  #hobbies ul {
    margin: 0;
    padding: 0;
    height: auto !important;
  }
  
  #hobbies ul li:first-child {
    display: none !important;
  }

  #hobbies ul li {
    width: 100%;
    margin: 5px 0 !important;
    display: block !important;
    height: auto !important;
  }

  #hobbies ul li img {
    width: 100px;
  }
  
  .editMode div {
    width: 100% !important;
    float: left;
    margin-bottom: 20px;
  }

  footer {
    height: auto;
  }

  footer ul {
    margin: 20px 0;
  }

  footer div ul li {
    display: block;
    margin: 50px 0;
  }
}
/* Mobile View */
